<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<targets async="true">
		<target name="file" xsi:type="File" 
			fileName="d:/logfiles/sites/abc.log"
			archiveFileName="d:/logfiles/sites/${event-context:item=ApplicationDir}.{#}.log"
			archiveEvery="Day"
			archiveNumbering="Sequence"
			maxArchiveFiles="10"
			layout="${longdate}	${logger}	${level}	${event-context:item=Stack}	${message}"
		/>
		<target name="console" xsi:type="ColoredConsole"
			layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
		<target name="viewer"
			xsi:type="NLogViewer"
			address="udp://127.0.0.1:7071"
		/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file, viewer, console" />
	</rules>
</nlog>
